<html>
  <head>
    <link rel="stylesheet" href="css/getstarted.scss"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Get Started | RealizmModz</title>
  </head>
  <body>
    <span class="topNav" id="topNav">
      <a id="title">RealizmModz</a>
    </span>

  </body>
</html>