html, body {
    background-color:#353535;
    color:#FFFFFF;
    font-family:'Courier New', Courier, monospace;
  }
  
  .topNav {
    position:absolute;
    width:100%;
    height:10%;
    background-color:#505050;
    top:0;
    left:0;
  }
  
  .topNav a {
    position:relative;
    top:5%;
  }